﻿@model sample.ViewModel.BMIData
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="@Url.Action("Index")" method="post">
    @Html.DisplayNameFor(m => m.height)
    @Html.TextBoxFor(m => m.height) 公分
    @Html.ValidationMessageFor(modelItem => @Model.height)<br />

    @Html.DisplayNameFor(m => m.weight)
    @Html.TextBoxFor(m => m.weight)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.weight)<br />

    <input type="submit" name="name" value="send" />
</form>

<br />
計算結果： @Model.BMI <br />
等級： @Model.Level
